html {
  height: 100%;
}

body {
  font-family: var(--t-body);
  height: inherit;
  margin: 0;
}

.main {
  padding: 2rem 10%;
}

.header {
  background-color: var(--c-rood);
  height: 13rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.center_header {
  width: fit-content;
  display: flex;
  flex-direction: column;
}


.btn {
  border: 0 solid white;
  background-color: hsla(1, 100%, 100%, 0%);
  padding: 0;
  text-align: start;
  width: fit-content;
}

.header img {
  height: 13rem;
  padding: 0;
  width: 13rem;
}

.naam_adres {
  color: white;
  width: 75%;
  text-align: center;
}

.naam_adres h1 {
  font-size: 4.5rem;
  margin: 0;
}

.naam_adres p {
  font-size: 1.5rem;
  margin: 0;
}

.navigatie_header {
  padding: 0;
  display: flex;
  padding-top: 0.35rem;
  width: 75%;
  justify-content: center;
}

#home {
  background-color: var(--c-rood);
}

#domein {
  background-color: var(--c-oranje);
}

#foto {
  background-color: var(--c-geel);
}

#voorzieningen {
  background-color: var(--c-groen);
}

#reserveren {
  background-color: var(--c-donkergroen);
}

.navigatie_header button {
  font-weight: var(--t-weight_semibold);
  padding: 1rem;
  font-size: 2rem;
  margin: 0.75rem 0 0 0;
  border: 0 solid white;
  color: white;
}

.naam_adres h1 {
  margin-bottom: 0.75rem;
}


.fotos img {
  width: 100%;
}

.fotos {
  display: flex;
  height: 50rem;
}

.fotos p {
  position: absolute;
  bottom: -15.25rem;
  color: white;
  background-color: hsla(1, 0%, 0%, 50%);
  padding: 0.5rem;
  margin: 0;
  width: 78.9%;
  font-size: 1.5rem;
}

.main h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: var(--t-text-shadow);
  background-image: url(../images/rood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 4rem;
}

.over_ons p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--c-donkergroen);
}

.over_ons,
.domein,
.voorzieningen,
.reserveer_nu {
  margin: 5rem 0;
}

.domein {
  text-align: center;
}

.domein img {
  width: 29%;
  height: 13rem;
  margin: 1.5rem;
}

.voorzieningen li {
  text-align: center;
  list-style-position: inside;
  font-size: 2rem;
  line-height: 3.5rem;
  color: var(--c-donkergroen);
}

.reserveer_nu button {
  background-color: var(--c-rood);
  border-radius: 1.5rem;
  border: 0 solid white;
  font-size: 5rem;
  color: white;
  font-weight: var(--t-weight_bold);
  padding: 2rem 4rem;
}

.reserveer_nu {
  text-align: center;
}


.footer {
  background-color: var(--c-oranje);
  height: 13rem;
  padding: 0;
  display: flex;
  margin: 1rem 0 0 0;
  font-weight: var(--t-weight_semibold);
  font-size: 2rem;
  color: var(--c-donkerrood);
  padding: 0.5rem;
}

.footer p {
  border-bottom: 2px solid var(--c-donkerrood);
  margin: 0.5rem;
}

.footer img {
  height: 5rem;
  padding: 0.5rem;
}

#partners_img,
#steun_img,
#sociale_media_img {
  display: flex;
}

.partners,
.steun,
.sociale_media {
  flex-grow: 1;
  margin: 0.25rem;
}