:root {
  /**
   * Colour palette
   */
  --c-primary: hsl(190, 100%, 40%);
  --c-donkergroen: rgb(84, 97, 58);
  --c-groen: rgb(178, 213, 103);
  --c-geel_header: rgb(248, 215, 98);
  --c-geel_logo_fotos: rgb(255, 201, 5);
  --c-geel: rgb(255, 215, 71);
  --c-oranje: rgb(255, 138, 71);
  --c-rood: rgb(252, 97, 112);
  --c-donkerrood: rgb(195, 85, 60);


  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: Arial, Helvetica, sans-serif;
  --t-secondary: Arial, Helvetica, sans-serif;
  --t-tertiary: monospace;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-tertiary);


  --t-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --t-weight_bold: bold;
  --t-weight_semibold: 600;
  --t-weight_regular: normal;
  --t-weight_light: lighter;

  --t-text-shadow:    0px 3px 6px rgb(95, 95, 95);

}